@keyframes rtr
{
	from
	{
		-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to
	{
		-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

@keyframes rtl
{
	from
	{
		-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
				transform: rotate(360deg);
	}
	to
	{
		-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
				transform: rotate(0deg);
	}
}

@keyframes sky
{
	from
	{
		background-position: 0 0;
	}  to
	{
		background-position: 800px 0;
	}
}

.rtl,
.rtr
{
		transform: rotate(360deg);
}

.rtl
{
			animation: rtl linear 9s infinite;
}

.rtr
{
			animation: rtr linear 9s infinite;
}