// ------------------ Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

// ------------------ Modules
@import "nano-grid/scss/nano-grid";
@import "nano-grid/scss/btn";
@import "nano-grid/scss/scroll-area";

@import 'general/mixings';
@import 'general/keyframes';
// @import "general/icomoon";
@import "general/layers";
@import "general/fonts";
@import "general/theme";

@import 'components/gallery';
@import 'components/container';
@import 'components/nano-app';
@import 'components/nano-box';
@import 'components/listing';

@import 'sections/main';
// @import 'sections/header';
// @import 'sections/letter';
// @import 'sections/projects';
// @import 'sections/modal';
// @import 'sections/ground';
// @import 'sections/references';
// @import 'sections/footer';

/*----------------------------*/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", Helvetica, Arial, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  overflow: hidden;
}

main {
  --color-title: #9c330a;
  --color-background: #ffffff;
  --color-foreground: #202028;
  --color-workarea-background: #f8f7fb;
  --color-panel-details-background: #ffffff;
  --color-panel-background: #272b42;
  --color-panel-border-separator: #cccccc;
  --color-border: #444444;
  --color-palette: #f7f7f7;
  --color-label: #104e86;
  --color-legend: #9c330a;
  --color-background-input: #dadada;
  --color-background-input2: #d7d7d7;
  --color-table-background: hsl(240deg 20% 80% / 0.2);
  --color-table-background-2: hsl(240deg 20% 85% / 0.2);
  --color-table-background-hover: hsl(240deg 35% 90% / 0.2);
  --map-background: #c88396;
  --title-shadow: 0;
  --color-shadow: rgb(0 0 0 / 65%);
  --shadow-depth: 2px 2px 5px;
  color: var(--color-foreground);
}

.close-btn {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  opacity: 0.8;
  color: inherit;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
  }
}

/*------------------------*/

.btn.flat {
  display: flex;
  align-items: center;
  justify-content: center;

  &.fsz {
    width: 100%;
  }
}

/* ------- random*/

hr {
  border-color: var(--color-border);
  border-width: 0 0 1px 0;
}